.App {
  font-family: sans-serif;
  text-align: center;
}
.search-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 18px;
}

.search-input {
  width: 100%;
  padding: 10px 35px 10px 35px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.clear-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover,
.suggestions-list li.active {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .search-input {
    font-size: 14px;
  }

  .clear-icon,
  .search-icon {
    font-size: 16px;
  }
}
